
<div class ="form-group">
Name<input  class="form-control" type="text" placeholder="enter data" [(ngModel)]="name">
age<input class="form-control" type="text" placeholder="enter data" [(ngModel)]="age">
gender<input class="form-control" type="text" placeholder="enter data" [(ngModel)]="gender">
adress<input class="form-control" type="text" placeholder="enter data" [(ngModel)]="adress">
</div>


<button  class="btn btn-primary"(click)="onAdd()">Add</button>
<button class="btn btn-primary" (click)="onRead()"> Read</button>
<button class="btn btn-primary" (click)="onRead()"> Delete</button>
<button class="btn btn-primary" (click)="onRead()"> Update</button>